<div class="container-fluid">
    <h2 style="text-decoration: underline;">Add Player</h2>
    <label>Player Name</label>
    <input class="form-control" type="text" [(ngModel)]="player.name">
    <label>Player Age</label>
    <input class="form-control" type="text" [(ngModel)]="player.age">
    <label>Player City</label>
    <input class="form-control" type="text" [(ngModel)]="player.city">
    <label></label>
    <div class="form-group">
        <label for="my-select">Select Player Team</label>
        <select id="my-select" class="form-control" [(ngModel)]="player.teamName">
            <option value="India">India</option>
            <option value="Srilanka">Srilanka</option>
            <option value="Windies">Windies</option>
            <option value="South Africa">South Africa</option>
            <option value="Other Country">Other</option>
        </select>
    </div>
    <label>Player Avatar/Image</label>
    <input class="form-control" type="text" [(ngModel)]="player.avatar">
    <br />
    <br />
    <button class="btn btn-primary" type="button" (click)="addPlayer()">Register Player</button>
</div>