<div class="jumbotron">
  <h1 class="display-4">Angular - Spring Boot Player App</h1>
  <p class="lead">Spring Boot with Angular Integration</p>
  <hr class="my-4">
</div>

<div class="container">
  <nav class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/addPlayer">Add Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/updatePlayer">Update Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deletePlayer">Delete Player</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewPlayers">View Players</a>
    </li>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>